page-home {

}

.title-card{
	color: black;
	font-size: 55px;
}

.loader{
	background: #2eb82e !important;
	border-radius:100px;
	height:20px;
	p{
		text-align:center;
		color:black !important;
		text-align:center;
	}
}