page-home {

}

.message-regular{
	background-color: white;
	color: black;
}

.message-alarm {
	background-color: red;
	color: white;
}

.title-card{
	color: black;
	font-size: 55px;
}

.loader{
	background: black;
	border-radius:100px;
	height:20px;
	p{
		text-align:center;
		color:white !important;
		text-align:center;
	}
}

.positive-balance {
	background: #2eb82e !important;	
}

.low-balance {
	background: #2ebeee !important;	
}

.overdrawn {
	background: red;
}