// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

page-home{
  background: rgba(204,165,254,1);
  background: -moz-linear-gradient(45deg, rgba(204,165,254,1) 0%, rgba(39,187,236,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(204,165,254,1)), color-stop(100%, rgba(39,187,236,1)));
  background: -webkit-linear-gradient(45deg, rgba(204,165,254,1) 0%, rgba(39,187,236,1) 100%);
  background: -o-linear-gradient(45deg, rgba(204,165,254,1) 0%, rgba(39,187,236,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(204,165,254,1) 0%, rgba(39,187,236,1) 100%);
  background: linear-gradient(45deg, rgba(204,165,254,1) 0%, rgba(39,187,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca5fe', endColorstr='#27bbec', GradientType=1 );
}

page-home ion-content{
  background:transparent !important;
}

ion-header .toolbar-background{
  background: rgba(255,255,255,0.7) !important;
}